<html>
<head>
	<title>AngularCakePHP : Simple example with no server</title>
</head>
<body ng-app="App" ng-controller="AppController as app">

<h2>Simple Example with no server</h2>

<p>In this example I have created a User model using the AngularCakePHP data model (scripts/user-model.js).</p>
<p>Then I have created a few User instances, see the list below.</p>
<p>And lastly the form below will create a new User instance with the name you provide.</p>
<p>The newly created user is also logged in the console, so have a look at that too.</p>

<h3>Create New User</h3>
<form>
	<fieldset>
		<label for="name">Name: </label>
		<input id="name" type="text" ng-model="app.new_user.name" />
	</fieldset>
	<button type="submit" ng-click="app.createNewUser()">CREATE</button>
</form>

<h3>Current Users</h3>
<ul>
	<li ng-repeat="user in app.users">
		{{user.name}}
	</li>
</ul>

<!-- dependencies -->
<script src="../bower_components/lodash/lodash.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/pluralize/pluralize.js"></script>

<!-- Angular CakePHP -->
<script src="../../../lib/angular-cakephp.js"></script>
<script src="../../../lib/angular-cakephp-settings.js"></script>
<script src="../../../lib/http/http-query-build-service.js"></script>
<script src="../../../lib/http/http-response-service.js"></script>
<script src="../../../lib/transformers/transformer-service.js"></script>
<script src="../../../lib/util/util-service.js"></script>
<script src="../../../lib/base/base-active-record.js"></script>
<script src="../../../lib/base/base-model.js"></script>
<!--<script src="../bower_components/angular-cakephp/dist/angular-cakephp.min.js"></script>-->

<!-- example app -->
<script src="scripts/app.js"></script>
<script src="scripts/app-controller.js"></script>
<script src="scripts/user-model.js"></script><!-- implementation of AngularCakePHP model -->

</body>
</html>
</html>