* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

// typo

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
}
